{% extends "base_generic.html" %}

{% block content %}
<h1>Research Paper List</h1>

{% if paper_list %}
<form action="." method="get">
  <label for="query">Search Research Papers</label>
  <input type="text" name="query" id="query">
  <input type="submit" value="Search">
</form>
<ul>
  {% for paper in paper_list %}
  <li>
    <a href="{{ paper.get_absolute_url }}"><strong>{{ paper.name}}</strong></a> 
    <ul>
      <li>{{paper.year}}</li>
      <li>{{paper.venue}}</li>
      <li>{{paper.research_group}}</li>
      <li>{{paper.institution}}</li>
      <li>{{paper.abstract}}</li>
      <li><strong> <a
        href="https://cbib.s3.sa-east-1.amazonaws.com/{{paper.pdf}}"
        download="download">Download </a></strong></li>
    </ul>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no papers here yet.</p>
{% endif %}
{% endblock %}