{% extends "base_generic.html" %}
{% load bootstrap %}
{% block content %}
<h1>Research Paper List</h1>

{% if paper_list %}
<form action="." method="get">
  <label for="query">Search Research Papers</label>
  <input type="text" name="query" id="query">
  <input type="submit" value="Search">
</form>
Filter Research Papers
<form method="GET">
  {{filter.form}}
  <input type="submit" value="Filter">
</form>

<ul>
  {% for paper in paper_list %}
  <li>
    <h4><a href="{{ paper.get_absolute_url }}">{{ paper.name}}</a></h4>
      <li><strong>Author(s): </strong>
      {% for author in paper.authors.all %}
        {{author.name}} {{author.surname}},
      {% endfor %}
      </li>
      <li><strong>Published: </strong>{{paper.year}}</li>
      <li><strong>Research Groups(s): </strong>{{paper.research_group}}</li>
      <li><strong>Institution(s): </strong>{{paper.institution}}</li>
      <li><strong>Venue: </strong>{{paper.venue}}</li>
      <li><strong>Abstract: </strong>{{paper.abstract}}</li>
      <li><strong> <a
        href="https://cbib.s3.sa-east-1.amazonaws.com/{{paper.pdf}}"
        download="download">Download </a></strong></li>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no papers here yet.</p>
{% endif %}
{% endblock %}