
{% extends "base_generic.html" %}
{% block content %}
<h2>Frequenty Asked Questions (FAQ)</h2>
<p>
<h4>Do you need an account to use the application?</h4>
- - The application can be used by anyone. An account is only required if you would like to modify and delete research
papers or if you would like to check the proof of peer reviews for a research paper.
</p>
<p>
<h4>How do I create an account?</h4>
- To create an account, click on the “Sign-Up” button in the navigation bar. Fill in the form that you get redirected
to. Click “Submit” and you will have a user account!
</p>
<p>
<h4>What if I forgot my username or password?</h4>
- Click on the “Login” button and select “Forgot Password”. Fill in your email address and the application will
automatically email you a reset credentials link.
</p>
<p>
<h4>Can I search for research papers on the webapp?</h4>
- Yes! On the Homepage of the application there is a search box titled “Search Research Paper”. Type in the keywords
that you would like to search, and press “Submit”, the research paper results will be displayed on the Homepage for you
to view. If there are no research papers that match your request, all research papers will be displayed.
</p>
<p>
<h4>Can I filter through research papers on the webapp?</h4>
- Yes! On the Homepage of the application there are 4 fields with drop down lists to filter research papers by, and a
“Filter” button next to it. The columns allow you to filter for research papers based on the year of publication, the
author(s) names, the research group or organisation and the research paper type. Select as many or as few of these
options to filter by, and press “Filter”, the research paper results will then be displayed on the Homepage for you to
view. If there are no research papers that match your request, all research papers will be displayed.
</p>
<p>
<h4>How do I access the Research Paper Library?</h4>
- The Research Paper Library can be accessed by clicking on the “All Research Papers” link in the navigation sidebar.
</p>
<p>
<h4>How do I find a particular research paper?</h4>
- There is a search bar at the top of the Research Paper List page. Type in the keywords you would like to search and
press the “Search” button and the results will be displayed on the page.
</p>
<p>
<h4>How do I download a research paper from the Research Paper list?</h4>
- Click on a research paper’s title on the Research Paper list. This will take you to the Research Paper Detail page of
that paper. Click on the “Download” button to download the research paper.
</p>
<p>
<h4>How do I add a new research paper?</h4>
- On the navigation sidebar, click on the “Add Research Paper” link. This will redirect you to the Add Research Paper
Form. Fill in the research paper’s title, author(s) names, year of publication, research group or organisation, the
abstract and the actual research paper pdf. However, you must first go to the “Add Author” link in the navigation
sidebar, add the author(s) of the research paper and thereafter go add the associated research paper, to ensure that the
author will be available to select as the author for the research paper you are adding. Once all information has been
completed correctly, click the “Add” button and the research paper will be added (given that you have satisfied the user
permissions).
</p>
<p>
<h4>How do I modify a research paper or its information?</h4>
- On the Research Paper Detail page click on the “Modify Research Paper” button. This will redirect you to a form that
will allow you to update the details about the requested research paper. Note that you do need the correct permissions
to be able to modify a research paper.
</p>
<p>
<h4>What if I upload the incorrect research paper?</h4>
- On the Research Paper Detail page, click on the “Delete Research Paper” button to remove unwanted papers. Note again
that sufficient user control permissions are required.
</p>
<p>
<h4>How do I generate the research paper reports?</h4>
- A user can generate the research paper report (which is a report that contains summary information of each research
paper currently loaded onto the application) on the “Research Papers” homepage of the application. The user can click on
the “Generate Report” link on this page, which will take them to a pdf generated report, which contains the title, year,
author(s) and venue of each research paper. This generated report can be viewed and/or downloaded by the user.
</p>
{% endblock content %}