{% extends "base_generic.html" %}

{% block content %}
<h1>Research Paper: {{ paper.name }}</h1>
<a href="{% url 'paper_update' pk=paper.pk %}">Update Paper</a>
<p><strong>Abstract: </strong>{{ paper.abstract }}</p>
<p>
  <strong>Authors: </strong>
  {% for author in paper.authors.all %}
  {{author.name}} {{author.surname}},
  {% endfor %}
</p>
<p><strong>Published in: </strong>{{paper.year}}</p>
<p><strong>Published at: </strong>{{paper.venue}}</p>
<p><strong>Research Group: </strong>{{paper.research_group}}</p>
<p><strong>Institutions: </strong>{{paper.institution}}</p>
<!Add proof of peer review if logged in>
  <p><strong>Download: </strong> <a
      href="https://s3.console.aws.amazon.com/s3/object/cbib?region=sa-east-1&prefix={{paper.pdf}}"
      download="download">Download </a></p>
<a href="{% url 'paper_delete' pk=paper.pk %}">Delete Paper</a>
  {% endblock content %}